@model ThAmCo.Events.Models.ReservationViewModel

@{
    ViewData["Title"] = "Reservation";
}

<h2>Reservation</h2>

<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Venue Details</h4>
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    Reference
                </th>
                <th>
                    Event Date
                </th>
                <th>
                    Venue Code
                </th>
                <th>
                    When Made
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Reference)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.VenueCode)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WhenMade)
                </td>
            </tr>
        </table>
    </div>
</div>
        <div>
            <a asp-action="Index">Back to Events</a>
        </div>
